[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/vim/bundle/vim-latex"]
	path = vim/vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/vim/bundle/vim-airline-themes"]
	path = vim/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/vim/bundle/vim-bufferline"]
	path = vim/vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/vim/bundle/vim-colorschemes"]
	path = vim/vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "vim/vim/bundle/vim-dispatch"]
	path = vim/vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
